{% extends 'base.html.twig' %}

{% block title %}{{user.fullName ~ title_separator ~ site_name }}{% endblock %}

{% block body %}

    <div class="float-left">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profile') }}">{{ 'Profile'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profile_update') }}">{{ 'Profile update'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profile_password') }}">{{ 'Password change'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profile_studios') }}">{{ 'Studios'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profile_add_new_studio') }}">{{ 'Add new studio'|trans }}</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

