{% extends 'base.html.twig' %}

{% block title %}{{ 'Profile'|trans }} - {{ site_name }}{% endblock %}

{% block body %}
    <h2>{{ 'Profile'|trans }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}