{% extends 'profile/layout.html.twig' %}

{% block title %}{{'Edit profile'|trans ~ title_separator ~ site_name}}{% endblock %}

{% block content %}
    <h2>{{ 'Edit profile'|trans }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}