{% extends 'profile/layout.html.twig' %}

{% block title %}{{user.fullName ~ title_separator ~ site_name }}{% endblock %}

{% block content %}
    <h2>{{ 'Profile'|trans }}</h2>

    <table class="table">
        <tbody>

        {% for key,val in profileData %}

            {% if val is not same as ('') %}

            <tr>
                <th scope="row">{{ key|trans }}</th>
                <td>{{ val }}</td>
            </tr>

            {% endif %}

        {% endfor %}

        </tbody>
    </table>
    {% if not is_granted('ROLE_OWNER') %}
        <a href="{{ path('profile_get_owner') }}">{{ 'I am a studio owner'|trans }}</a>
    {% endif %}
    {% if is_granted('ROLE_ARTIST') %}
        <a href="{{ path('profile_remove_artist') }}">{{ 'Remove artist profile'|trans }}</a>
    {% else %}
        <a href="{{ path('profile_get_artist') }}">{{ 'Get artist profile'|trans }}</a>
    {% endif %}
{% endblock %}

