{% extends 'profile/layout.html.twig' %}

{% block title %}{{'Password change'|trans ~ title_separator ~ site_name}}{% endblock %}

{% block content %}
    <h2>{{ 'Password change'|trans }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}