{% extends 'base-layout.html.twig' %}

{% block title %}{{'Password reset'|trans ~ title_separator ~ site_name}}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-secondary btn">{{ 'Submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}