{% extends 'profile/layout.html.twig' %}

{% block title %}{{'Add new studio'| trans ~ title_separator ~ site_name }}{% endblock %}

{% block content %}

    <h2>{{ 'Add new studio'|trans }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-secondary btn">{{ 'Submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}