{% extends 'profile/layout.html.twig' %}

{% block title %}{{'Edit employee'| trans ~ title_separator ~ site_name }}{% endblock %}

{% block content %}

    <h2>{{ 'Edit employee'|trans }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-secondary btn">{{ 'Edit'|trans }}</button>
    {{ form_end(form) }}

{% endblock %}