<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body class="bg-light">

<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0"
       href="{{ path('index') }}">Tattoo Search App</a>
    <div class="w-100 order-1 order-md-0">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
            {% if is_granted('ROLE_USER') %}
                <a class="nav-link" href="">{{ 'Some function'|trans }}</a>
            {% else %}
                <a class="nav-link" href="{{ path('user_register') }}">{{ 'Register'|trans }}</a>
            {% endif %}
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ asset('images/css/flags/blank.gif') }}" class="flag flag-{{ app.request.getLocale() }}" alt="lang-{{ app.request.getLocale() }}" />
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownLang">
            {% for lang in languages %}
                {% if lang != app.request.getLocale() %}
                    <a href="{{ path('change_lang', {'lang': lang} ) }}"><button class="dropdown-item" type="button"><img src="{{ asset('images/css/flags/blank.gif') }}" class="flag flag-{{ lang }}" alt="lang-{{ lang }}" /></button></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="order-3 order-md-1">
        <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('profile') }}">{{ app.user.fullName }}</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ logout_path() }}">{{ 'Sign out'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_login') }}">{{ 'Sign in'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main role="main">

    {% set message_count = 0 %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}

            <div class="alert alert-{{ label }}" align="center">
                {{ message|trans }}
            </div>
            {% set message_count = message_count + 1 %}
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}

</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>